/* Global Styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

p {
    padding: 0 0 0 0;
    padding: 1.3em 5em
}

/* Header Styles */
h3 {
    font-size: large;
    padding-top: 50px;
}

/* Main Content and Footer */
main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: 20px;
}

/* Map Styling */
#map {
    height: 30rem;
    margin: 0 2%;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

td {
    max-width: 150px;
}

/* Form Styling */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form p, form label {
    margin-bottom: 15px;
}

/* Form Input Styles */
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form textarea {
    height: 150px;
    resize: vertical;
}

/* Button Styling */
form button[type="submit"] {
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#delete_button {
    background: #fff;
    border: none;
    padding: 0;
}

/* Focus Styles */
form input:focus,
form textarea:focus,
form select:focus,
form button[type="submit"]:focus {
    outline: 3px solid #007bff;
}

/* Media Queries */
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 15px;
    }
}

/* Additional Styles */
.mt-3 > a {
    font-size: 30px;
    padding: 5px;
}

.location-popup {
    border-radius: 3px;
    text-align: center;
}

.leaflet-popup-content-wrapper {
    color: #000;
    border: 1px solid #000;
    text-align: center;
}

.leaflet-popup-content-wrapper hr {
    color: #000;
    margin: 0.5em 0;
}

.nav-link {
    color: #000;
}
