{% extends "base.html" %}

{% block title %}
Home | Contact
{% endblock %}

{% block content %}


<hr>
<div class="about">
    <p>
        You can use the form below to submit a request for a new item type to be added, however I will not be adding mushrooms
        due to the dangers involved with mushrooms.
    </p>
        
    <form method="post" action="{% url 'about' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>


{% endblock %}