{% extends "base.html" %}

{% block title %}Home | My Site{% endblock %}

{% block content %}


<hr>
<div class="about">
    <h3>Welcome to my website! My name is Karl and I have been foraging for several years for homebrew and cooking.</h3>
    <p>
        On the map, there are various icons that will point you to locations nearby, as well as any warnings you might
        need. At the moment there are only categories for
        blackberries, nettles and strawberries, but more will be added in the future!
    </p>

    <form method="post" action="{% url 'about' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>


{% endblock %}