{% extends "base.html" %}

{% block title %}Add Item | My Site{% endblock %}

{% block content %}
<h2>Add New Item</h2>
<form method="post" action="{% url 'add_item' %}">
    {% csrf_token %}
    {{ form.as_p }}
<!-- 
    <label for="id_latitude">Latitude:</label>
    <input type="text" id="id_latitude" name="latitude" value="{{ form.latitude.value }}" readonly>
    
    <label for="id_longitude">Longitude:</label>
    <input type="text" id="id_longitude" name="longitude" value="{{ form.longitude.value }}" readonly> -->

    <button type="submit">Submit</button>
</form>

<!-- <script>
    const urlParams = new URLSearchParams(window.location.search);
    document.querySelector('#id_latitude').value = urlParams.get('latitude');
    document.querySelector('#id_longitude').value = urlParams.get('longitude');
</script> -->
{% endblock %}