{% extends "base.html" %}
{% load static %}

{% block title %}
Home | Forager's Friend
{% endblock %}

{% block content %}
<!-- Content Block: Main content of the home page -->

<!-- Welcome Message -->
<h3>Welcome to Forager's Friend! My name is Karl and I have been foraging for several years for homebrew and cooking.</h3>
<hr>

<!-- Description Paragraph -->
<p>
    This is an interactive platform designed for nature enthusiasts and foraging hobbyists. 
    Our site offers a rich set of features to enhance your foraging experience. 
    With an intuitive map interface, users can effortlessly add and discover locations for various forageable items, 
    from wild berries to herbs. Each location is detailed with notes and can be marked as a favorite for easy future reference. 
    For authenticity and reliability, locations undergo a verification process; a location is marked as verified once confirmed 
    by five different users, ensuring the accuracy of our shared database. 
    Additionally, users can participate in confirming unverified locations, contributing to the community-driven aspect of our platform. 
    Our user-friendly design, combined with a robust verification system, makes Forager's Friend 
    an invaluable tool for both seasoned foragers and newcomers alike, fostering a community where knowledge and experiences are shared and cherished.
</p>
<hr>
<div class="filter-area">
    <h4>What are you looking for?</h4>
    <select id="typeFilter" onchange="filterMapByType()">
        <option value="">All Types</option>
        {% for type in types %}
        <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select>
    <button id="add-location-btn" class="btn btn-primary">Add Current Location</button>
</div>
<!-- Hidden Form for Location Data -->
<!-- This form is typically used to capture location data from the map and then post it to the server -->
<form method="post" style="display: none;">
    <!-- CSRF Token for Security -->
    {% csrf_token %}

    <!-- Hidden Inputs for Latitude and Longitude -->
    <input type="hidden" id="id_latitude" name="latitude">
    <input type="hidden" id="id_longitude" name="longitude">
</form>

<!-- Map Container -->
<!-- This div holds the Leaflet map where users can view and interact with locations -->
<div id="mapbox">
    <div id="map"></div>
</div>
<script type="text/javascript">
    var staticBaseUrl = "{% static '' %}";
</script>
{% endblock %}