{% extends "base.html" %}

{% block title %}Home | My Site{% endblock %}

{% block content %}
<h2>Welcome to My Site</h2>
<h2>Location List</h2>
<ul>
    {% for location in locations %}
    <li>{{ location.name }} - {{ location.type }} - {{ location.latitude }}, {{ location.longitude }}</li>
    {% endfor %}
</ul>
<hr>
<p>This is the home page content.</p>
<hr>
<form method="post">
    {% csrf_token %}

    <input type="hidden" id="id_latitude" name="latitude">
    <input type="hidden" id="id_longitude" name="longitude">
</form>
<!-- Display a Leaflet map where users can select their location -->
<div id="mapbox">
    <div id="map"></div>
</div>

{% endblock %}